@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
    /* font-family: 'Rubik', sans-serif; */
}

.main {
    max-width: 1280px !important;
    margin-inline: auto !important;
}

/* header Start ***************************************************/

.header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}

.navbar-name {
    color: #FF5151 !important;
    font-family: Rubik;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 700 !important;
    line-height: normal;
    margin-left: 10px;
}

.me-auto {
    margin-inline: auto !important;
}

.home-color {
    color: #FF5151 !important;
    font-family: Rubik;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 700 !important;
    line-height: normal;
}

.navbar-nav {
    font-family: Rubik !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    align-items: center;
}

/* hero Start ***************************************************/

.hero {
    overflow: hidden;
    margin-inline: 24px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(252, 203, 144, 0.44) 0%, rgba(255, 154, 158, 0.38) 100%);
}

.h-left {
    margin-left: 100px;
}

.h-left>p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.h-left>button {
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    margin-top: 40px;
    font-weight: 600;
    line-height: 25px;
    border: none;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
    background: linear-gradient(180deg, rgba(255, 81, 81, 0.50) 0%, #FF5E3A 100%);
}

.fashion {
    position: relative;
    margin: 20px 0 20px 0;
}

.dot {
    position: absolute;
    top: 5px;
    right: 159px;
}

.c-btns {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.c-btns>button {
    color: #4F5665;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    border-radius: 10px;
    border: none;
    padding: 15px 25px 15px 25px;
    margin-inline: 20px;
    background: #FFF;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.05);
}

.c-btns>button:hover {
    color: white;
    box-shadow: 0px 5px 10px #888888;
    background: linear-gradient(180deg, rgba(255, 81, 81, 0.50) 0%, #FF5E3A 100%);
}

/* Collection ****************************************************/

.collection {
    position: relative;
    margin-top: 70px;
}

.c-p1 {
    text-align: center;
    margin: 0px;
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.c-p2 {
    text-align: center;
    margin: 0px;
    margin-top: 15px;
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 80px;
    margin-bottom: 150px;
    justify-content: center;
}

.card {
    width: 300px;
    height: 400px;
    border-radius: 25px !important;
    border: none !important;
    overflow: hidden;
    margin: 0;
}

.c-img {
    position: relative;
    background-image: url(./Assets/collection/card-bg.png);
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-img1 {
    position: absolute;
    top: 10px;
    right: 10px;
}

.info {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sh {
    position: absolute;
    bottom: 0;
}

.foot {
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot>button {
    border-radius: 10px;
    background: #FF5E3A;
    border: none;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 5px 15px 5px 15px;
}


/* letest .collection ********************************************************/

.na {
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.na1 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.na1 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.in {
    position: absolute;
    top: 190px;
    left: 50px;
    padding-bottom: 10px;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
}

.in-1 {
    position: absolute;
    top: 480px;
    left: 50px;
    padding-bottom: 10px;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
}

.in-2 {
    position: absolute;
    bottom: 0px;
    right: 440px;
    padding-bottom: 10px;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
}

.new-arrival {
    position: relative;
    margin-top: 70px;
}

.c-p1 {
    text-align: center;
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.c-p2 {
    text-align: center;
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
}






/* 2021 letest .collection ***************************************************/

.lc-img {
    position: relative;
    background: #F0F0F0;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot>p {
    color: #909090;
    margin: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.lc-info>p {
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}

.lc-btt {
    display: none;
    width: 150px;
    height: 30px;
    color: #FFF;
    margin-left: 5px;
    border-radius: 10px;
    background: #FF5E3A;
    border: none;
    padding: 0px 0px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.categories {
    position: relative;
    margin-top: 70px;
    margin-bottom: 70px;
}

.c-p1 {
    text-align: center;
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.c-p2 {
    text-align: center;
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
}

.lc-card {
    width: 250px;
    height: 350px;
    border-radius: 25px !important;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
    margin: 0;
    transition: all 1s ease;
}

.lc-card:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.lc-inft:hover {
    font-size: 10px;
}

.lc-card:hover .lc-btt {
    display: block;
}

.lc-card:hover .lc-img {
    background-image: url(./Assets/collection/card-bg.png);
}




.footer {
    background: rgba(252, 203, 144, 0.15);
}


.c1-r4 {
    color: #FF5E3A;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.bg-org {
    background-color: #FF5E3A;
}

.c4>svg {
    background-color: #FF5E3A;
    border-radius: 50%;
}

.ft>h6 {
    color: #0B132A;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    /* 166.667% */
}

.ft>p>a {
    color: #4F5665;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
}